.itemPreview {
  display: grid;
  grid-template-columns: 2rem auto;
  grid-gap: 1rem;
  overflow: auto;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.itemPreview h2 {
  margin: 0;
}

.itemPreview .index {
}

.itemPreview .preview {
}

.itemPreview .left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: lighter;
}
