.App {
  font-size: 90%;
  max-width: 100rem;
  margin: auto;
}

a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .App {
    padding: 1rem 3rem;
  }
}

.items {
  display: grid;
  grid-gap: 1rem;
}

.App nav ul {
  font-size: 125%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  list-style: none;
}

.nextPageBtn {
  font-size: 125%;
  padding: 0.5rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: white;
  margin-top: 1rem;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}
nav a {
  color: blue;
}
nav a.active {
  color: red;
}
